@font-face {
  font-family: 'avenir-book';
  src: url('../../fonts/avenir-book.woff2') format('woff2'),
       url('../../fonts/avenir-book.woff') format('woff');
}

@font-face {
  font-family: 'avenir-black';
  src: url('../../fonts/avenir-black.woff2') format('woff2'),
       url('../../fonts/avenir-black.woff') format('woff');
}

@font-face {
  font-family: 'avenir-bold';
  src: url('../../fonts/avenir-heavy.woff2') format('woff2'),
       url('../../fonts/avenir-heavy.woff') format('woff');
}